<h1><%= @match_title %></h1>
<% for i in 0..@count %>
  <table class="table">
    <h2><%= @title[i] %></h2>
    <% card = @cards[i] %>
    <% card.each do |username1,subname1,username2,subname2,video_url,start_time| %>
      <tr>
      <td><a href="<%= video_url + '&t=' + start_time%>"><img src="play_icon.png"></a></td>
      <td><%= username1 %></td>
      <td><%= subname1 %></td>
      <td>vs</td>
      <td><%= username2 %></td>
      <td><%= subname2 %></td>
      </tr>
    <% end %>
  </table>
<% end %>
